@import './variables';

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 115%;
    margin: 1rem 0 4rem 0;
    @media (min-width: 769px) { 
        margin: 3rem 0 3rem 0;
        width: 60%;
    }
}

.contactTaglinesWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
}

.contactTagline{
    margin: 0;
    text-align: center;
    font-size: clamp(1rem, 2.5rem, 2.5rem);
    @media (min-width: 1921px) { 
        font-size: clamp(2rem, 2.5rem, 3em);
    }
}

.contactSecondaryTagline{
    text-align: center;
    font-weight: 500;
    font-size: clamp(0.75rem, 1.125rem, 1.125rem);
    @media (min-width: 768px) { 
        font-size: clamp(.7rem, .9rem, 1em);
    }
    @media (min-width: 1921px) { 
        font-size: clamp(1rem, 1.3rem, 3em);
    }
}

.underlined{
    text-decoration: underline;
    white-space: nowrap;
}

.emailOptionsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: start;
    width: 100%;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    @media (min-width: 1921px) { 
        font-size: clamp(1rem, 1.3rem, 3em);
    }
}

.userEmailContainer{
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid $mainColor;
    border-radius: 10px;
    
}

.emailInput{
    all:unset;
    padding: .75rem;
}

.userMessageContainer{
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid $mainColor;
    border-radius: 10px;
    height: 10rem;
    @media (min-width: 1921px) { 
        height: 15rem;
    }
}

.messageInput{
    all:unset;
    width: 100%;
    padding: .75rem
}

.messageSubmitButton{
    all: unset;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .25rem;
    width: 20%;
    border: 3px solid $mainColor;
    border-radius: 10px;
    padding: .5rem .75rem;
    cursor: pointer;

    @media (min-width: 768px) { 
        justify-content: center;
        gap: .75rem;
    }
    @media (min-width: 1921px) { 
        justify-content: center;
        gap: .75rem;
    }
}

.buttonWrapper{
    display: flex;
    width: 100%;
}

.submitImg{
    width: 20%;
}